<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wemos.smartwatchpro" version="4.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wemos Smartwatch Pro</name>
    <description>Wemos D1 Alarm Monitor</description>
    <author email="you@example.com" href="https://github.com">You</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="backgroundMode" value="true" />
        <preference name="KeepRunning" value="true" />
        <preference name="Orientation" value="portrait" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>